In [1]:
list=["rashib","umair","amir","suhaib"]

In [2]:
list

['rashib', 'umair', 'amir', 'suhaib']

In [4]:
list.append("saqib")

In [5]:
list

['rashib', 'umair', 'amir', 'suhaib', 'saqib']

In [6]:
list.pop()

'saqib'

In [7]:
list

['rashib', 'umair', 'amir', 'suhaib']

In [8]:
list.sort()

In [9]:
list

['amir', 'rashib', 'suhaib', 'umair']

In [10]:
list.reverse()

In [11]:
list

['umair', 'suhaib', 'rashib', 'amir']

In [12]:
name=list[0]="asif"

In [13]:
name

'asif'

In [14]:
list

['asif', 'suhaib', 'rashib', 'amir']

In [17]:
name=list[0].upper()

In [18]:
name

'ASIF'

In [22]:
list.remove("rashib")

In [23]:
list

['asif', 'suhaib', 'amir']

In [24]:
list.clear()

In [25]:
list

[]

In [26]:
new_list=["rocko"]

In [28]:
new_list

['rocko']

In [30]:
len("rocko")

5

IndexError: list assignment index out of range

In [33]:
tuple=("rashib","umair","saqib")

In [35]:
tuple

('rashib', 'umair', 'saqib')

In [43]:
numbers=(1,2,3,4,5,6,7,7,7,7,9)

In [44]:
numbers

(1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 9)

In [45]:
numbers.count(7)

4

In [46]:
numbers.count(1)

1

In [48]:
numbers[1:5]

(2, 3, 4, 5)

In [51]:
numbers[0::2]

(1, 3, 5, 7, 7, 9)

In [52]:
numbers[-1]

9

In [56]:
numbers.__len__()

11

In [59]:
lst=(["rashib"])

In [60]:
lst.append("suhaib")

In [61]:
lst

['rashib', 'suhaib']

In [62]:
type(lst)

list

In [63]:
items={"pencil":5,"books":5,"sheets":2,"name":"rashib"}

In [64]:
items

{'pencil': 5, 'books': 5, 'sheets': 2, 'name': 'rashib'}

In [66]:
items.keys()

dict_keys(['pencil', 'books', 'sheets', 'name'])

In [67]:
items.values()

dict_values([5, 5, 2, 'rashib'])

In [68]:
items.items()

dict_items([('pencil', 5), ('books', 5), ('sheets', 2), ('name', 'rashib')])

pencil
books
sheets
name

TypeError: expected 1 argument, got 0

In [78]:
items["pen"]=2

TypeError: 'int' object does not support item assignment

In [79]:
items

2

In [80]:
student={
"name":"rashib",
"age":22,
"adress":"sopore"
}

In [81]:
print(student["age"])

22

In [82]:
print(student.get("age"))

22

In [83]:
print(student.get("name"))

rashib

In [84]:
student["lastname"]="zahoor"

In [85]:
print(student["lastname"])

zahoor

In [86]:
student

{'name': 'rashib', 'age': 22, 'adress': 'sopore', 'lastname': 'zahoor'}

In [87]:
student["city"]="kashmir"

In [88]:
student

{'name': 'rashib',
 'age': 22,
 'adress': 'sopore',
 'lastname': 'zahoor',
 'city': 'kashmir'}

In [89]:
del student["name"]

In [90]:
student

{'age': 22, 'adress': 'sopore', 'lastname': 'zahoor', 'city': 'kashmir'}

In [91]:
student.keys()

dict_keys(['age', 'adress', 'lastname', 'city'])

In [92]:
student.values()

dict_values([22, 'sopore', 'zahoor', 'kashmir'])

In [93]:
student.items()

dict_items([('age', 22), ('adress', 'sopore'), ('lastname', 'zahoor'), ('city', 'kashmir')])

In [94]:
student["city"]="srinagar"

In [95]:
student

{'age': 22, 'adress': 'sopore', 'lastname': 'zahoor', 'city': 'srinagar'}

In [97]:
for key,value in student.items():
    print(f"{key}:{value}")

age:22
adress:sopore
lastname:zahoor
city:srinagar

In [98]:
student={
   "student1" :{"name":"faisal",
    "age":22},
    "student2":{"name":"faisal","age":21}
}

In [99]:
student

{'student1': {'name': 'faisal', 'age': 22},
 'student2': {'name': 'faisal', 'age': 21}}

In [104]:
print(student["student1"]["name"])
print(student["student2"]["age"])

faisal
21

In [107]:
square={i:i**2 for i in range(5)}

print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [108]:
square={1,2,3}
for sq in square:
    print(sq*sq)

1
4
9

In [1]:
set={1,2,3,4,5}

In [2]:
type(set)

set

In [7]:
set.add(5)

In [8]:
set

{1, 2, 3, 4, 5}

In [9]:
set.remove(5)

In [10]:
set

{1, 2, 3, 4}

In [11]:
print(1 in set)

True

In [12]:
print(9 in set)

False

In [13]:
set1={1,2,3,4,5,6,7}
set2={7,6,5,4,3,2,1}

In [14]:
union_set=set1.intersection(set2)

In [15]:
union_set

{1, 2, 3, 4, 5, 6, 7}

In [16]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [17]:
set1.intersection_update(set2)

In [18]:
union_set

{1, 2, 3, 4, 5, 6, 7}

In [20]:
set2.symmetric_difference(set1)

set()

In [21]:
set1.issubset(set2)

True

In [22]:
text="i am learning python course"
words=text.split()

In [23]:
words

['i', 'am', 'learning', 'python', 'course']

In [24]:
len(words)

5

TypeError: 'set' object is not callable