In [3]:
def even(num):
    if num%2==0:
        return True

In [9]:
even(10)

True

In [7]:
print(even(9))

None

In [8]:
numbers=[1,2,3,4,5,6,7,8,9,0,11,12,13]
list(filter(even,numbers))

[2, 4, 6, 8, 0, 12]

In [15]:
even_and_greatter_than_five=list(filter(lambda x:x>5 and x%2==0 ,numbers))

In [16]:
print(even_and_greatter_than_five)

[6, 8, 12]

In [17]:
people=[{
    'name':'rashib','age':25
    
},

{

     'name':'amir','age':30
}]

In [18]:
def age_greater_than_25(person):
    return person["age"]>25

In [20]:
list(filter(age_greater_than_25,people))

[{'name': 'amir', 'age': 30}]

In [21]:
#lamda

In [23]:
add=lambda a,b:a+b
add(2,3)

5

In [25]:
even=lambda num:num%2==0
even(23)

False

In [27]:
add=lambda a,b,c:a+b+c

In [28]:
add(2,4,6)

12

In [ ]:
#simple calculator

num1=float(input("enter a first_number:"))
num2=float(input("enter a second_number:"))

In [8]:
sum=num1+num2
sub=num1-num2
mul=num1*num2

In [9]:
print("sum:",sum)
print("sub:",sub)
print("mul:",mul)

sum: 20.0
sub: 0.0
mul: 100.0